@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    background-image: url("../img/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.head {
    display: flex;
    justify-content: center;
    margin: 100px auto;
    font-size: 3.5em;
    color: #ffffff;
}

.play-btn {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    padding: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    cursor: pointer;
    transition: all 0.1s ease;
}

.play-btn:hover {
    padding: 70px;
}

img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    padding: 10px;
    cursor: pointer;
    transition: all 0.1s ease;
}

img :hover {
    padding: 20px;
}