* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Glitch';
    src: url('../fonts/CFGlitch.ttf');
}

body {
    font-family: 'Glitch';
    background: url(https://static.vecteezy.com/system/resources/previews/000/095/572/non_2x/vector-dark-wallpaper-design.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    color: #ebefff;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1.4fr 0.6fr;
    gap: 0px 0px;
}

.title {
    grid-area: 1 / 1 / 2 / 6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 96px;
}

.options {
    grid-area: 4 / 1 / 5 / 6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.option-icon {
    cursor: pointer;
    margin: 20px;
    height: 40px;
    transition: 0.3s ease;
}

.option-icon:hover {
    opacity: 0.7;
    height: 50px;
    width: 50px
}

.play {
    grid-area: 2 / 1 / 4 / 6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 36px;
}

.play-button {
    cursor: pointer;
    top: 50%;
    left: 50%;
    height: 200px;
    padding: 50px;
    width: 200px;
    transition: 0.3s ease;
    margin-bottom: -60px;
    border-radius: 50%;
}

.play-button:hover {
    opacity: 0.7;
    height: 250px;
    width: 250px;
}